.slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-image {
  padding-bottom: 15px;
}

.slider-text {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 26px;
  color: #fff;
}

.slick-dots.white-dots li button:before {
  color: white !important;

}

.slider-section {
  background-color: #89089F;
}


.slick-dots {
  margin-top: 40%;
}

.slick-dots li button:before {
  font-size: 16px;
  color: #ffffff;

}

.rounded-full {
  border-radius: 9999px !important;
}


.pattern {
  position: absolute;
  z-index: 0;
}

.pattern1 {
  background-image: url('/public/assets/Asset\ 1@3x\ 2.png');
  width: 70%;
  height: 40%;
  bottom: 55%;
  left: 20px;
}

.pattern2 {
  background-image: url('/public/assets/Asset\ 1@3x\ 1.png');
  width: 100%;
  height: 30%;
  top: 46%;
}